* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Roboto', Verdana, sans-serif;
  background-color: #eee;
}

h3 {
  font-size: 22px;
  line-height: 1.2;
}

hr {
  margin: 10px 0;
  display: block;
  height: 1px;
  border: 0;
  background: black;
}

legend {
  line-height: 1.5;
  margin-top: 5px;
  font-weight: 700;
}

fieldset {
  border: 0;
}

main.content {
  display: flex;
  width: 100%;
  background-color: white;
}

.content > aside {
  flex-basis: 30%;
  margin: 0 20px;
  border: 1px solid grey;
  max-height: 500px;
  overflow-y: scroll;
}

.controlls-header {
  padding: 7px;
  position: sticky;
  top: 0;
  background-color: white;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.container {
  flex: 1 0 auto;
  flex-basis: 70%;
  max-width: 70%;
  background-color: dodgerblue;
}

.items-input {
  margin: 10px;
}

.list {
  display: block;
  min-height: 500px;
  max-height: 500px;
  max-width: 100%;
  overflow-y: hidden;
}

.list-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: lightgrey;
}

.list-item:nth-child(odd) {
  background-color: crimson;
  color: white;
}

.list-item.selected {
  background-color: yellowgreen;
}

.list-item > h2 {
  font-size: 36px;
  line-height: 1.5;
  margin: 20px 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.controlls {
  display: flex;
  margin: 10px;
  padding: 5px;
  border-top: 1px solid grey;
}

.flex-group {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.radio-controll {
  padding: 4px 8px;
}

.radio-controll label {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 5px 12px;
  background: white;
  border: 1px solid;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

/* flex properties */

/* display */

.ds_flex{
  display: flex;
}

.ds_inline-flex {
  display: inline-flex;
}

/* flex-direction */

.fd_row {
  flex-direction: row;
}

.fd_row-reverse {
  flex-direction: row-reverse;
}

.fd_col {
  flex-direction: column;
}

.fd_col-reverse {
  flex-direction: column-reverse;
}

/* flex-wrap */

.fw_nowrap {
  flex-wrap: nowrap;
}

.fw_wrap {
  flex-wrap: wrap;
}

.fw_wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* flex-flow */

.ff_row-nowrap {
  flex-flow: row nowrap;
}

.ff_col-reverse {
  flex-flow: column-reverse;
}

.ff_col-wrap {
  flex-flow: column wrap;
}

.ff_row-reverse_wrap-reverse {
  flex-flow: row-reverse wrap-reverse;
}

/* justify-content */

.jc_flex-start {
  justify-content: flex-start;
}

.jc_flex-end {
  justify-content: flex-end;
}

.jc_center {
  justify-content: center;
}

.jc_space-between {
  justify-content: space-between;
}

.jc_space-around {
  justify-content: space-around;
}

.jc_space-evenly {
  justify-content: space-evenly;
}

/* align-items */

.ai_flex-start {
  align-items: flex-start;
}

.ai_flex-end {
  align-items: flex-end;
}

.ai_center {
  align-items: center;
}

.ai_baseline {
  align-items: baseline;
}

.ai_stretch {
  align-items: stretch;
}

/* align-content */

.ac_flex-start {
  align-content: flex-start;
}

.ac_flex-end {
  align-content: flex-end;
}

.ac_center {
  align-content: center;
}

.ac_space-between {
  align-content: space-between;
}

.ac_space-around {
  align-content: space-around;
}

.ac_space-evenly {
  align-content: space-evenly;
}

.ac_stretch {
  align-content: stretch;
}

/* flex-grow */

.flex-grow_0,
.list > .flex-grow_0 {
  flex-grow: 0;
}

.flex-grow_1,
.list > .flex-grow_1 {
  flex-grow: 1;
}

/* flex-shrink */

.flex-shrink_0,
.list > .flex-shrink_0 {
  flex-shrink: 0;
}

.flex-shrink_1,
.list > .flex.shrink_1 {
  flex-shrink: 1;
}

/* flex-basis */

.flex-basis_30,
.list > .flex-basis_30 {
  flex-basis: 30%;
}

.flex-basis_50,
.list > .flex-basis_50 {
  flex-basis: 50%;
}

.flex-basis_content,
.list > .flex-basis_content {
  flex-basis: content;
}

/* order */

.order_-1,
.list > .order_-1 {
  order: -1;
}

.order_0,
.list > .order_0 {
  order: 0;
}

.order_1,
.list > .order_1 {
  order: 1;
}

/* align-self */

.as_flex-start,
.list > .as_flex-start {
  align-self: flex-start;
}

.as_flex-end,
.list > .as_flex-end {
  align-self: flex-end;
}

.as_center,
.list > .as_center {
  align-self: center;
}

.as_baseline,
.list > .as_baseline {
  align-self: baseline;
}

.as_stretch,
.list > .as_stretch {
  align-self: stretch;
}

/* flex-all-items */
.flex_all {
  flex: 1 1 150px;
}
