* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

main.content {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.content > aside {
  flex-basis: 25%;
  margin: 0 20px;
  border: 1px solid grey;
  max-height: 500px;
  overflow-y: scroll;
}

.controlls-header {
  padding: 7px;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

fieldset {
  border: 0;
}

.container {
  flex: 1 0 auto;
  flex-basis: 75%;
  max-width: 75%;
  background-color: dodgerblue;
}

.items-input {
  margin: 10px;
}

.list {
  display: block;
  min-height: 500px;
  max-height: 500px;
  max-width: 100%;
  overflow-y: hidden;
}

.list-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: lightgrey;
}

.list-item > h2 {
  font-size: 36px;
  line-height: 1.5;
  margin: 20px 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.controlls {
  display: flex;
  margin: 10px;
  padding: 5px;
  border-top: 1px solid grey;
}

.flex-group {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.flex-controlls {
}

.radio-controll label {
  cursor: pointer;
}

/* flex properties */

/* display */

.ds_flex{
  display: flex;
}

.ds_inline-flex {
  display: inline-flex;
}

/* flex-direction */

.fd_row {
  flex-direction: row;
}

.fd_row-reverse {
  flex-direction: row-reverse;
}

.fd_col {
  flex-direction: column;
}

.fd_col-reverse {
  flex-direction: column-reverse;
}

/* flex-wrap */

.fw_nowrap {
  flex-wrap: nowrap;
}

.fw_wrap {
  flex-wrap: wrap;
}

.fw_wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* flex-flow */

.ff_row-nowrap {
  flex-flow: row nowrap;
}

.ff_col-reverse {
  flex-flow: column-reverse;
}

.ff_col-wrap {
  flex-flow: column wrap;
}

.ff_row-reverse_wrap-reverse {
  flex-flow: row-reverse wrap-reverse;
}

/* justify-content */

.jc_flex-start {
  justify-content: flex-start;
}

.jc_flex-end {
  justify-content: flex-end;
}

.jc_center {
  justify-content: center;
}

.jc_space-between {
  justify-content: space-between;
}

.jc_space-around {
  justify-content: space-around;
}

.jc_space-evenly {
  justify-content: space-evenly;
}

/* align-items */

.ai_flex-start {
  align-items: flex-start;
}

.ai_flex-end {
  align-items: flex-end;
}

.ai_center {
  align-items: center;
}

.ai_baseline {
  align-items: baseline;
}

.ai_stretch {
  align-items: stretch;
}

/* align-content */

.ac_flex-start {
  align-content: flex-start;
}

.ac_flex-end {
  align-content: flex-end;
}

.ac_center {
  align-content: center;
}

.ac_space-between {
  align-content: space-between;
}

.ac_space-around {
  align-content: space-around;
}

.ac_space-evenly {
  align-content: space-evenly;
}

.ac_stretch {
  align-content: stretch;
}
